* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Calibri;
}

.container {
    width: 100%;
}

header, .main-container {
    border-bottom: 1px solid #969696;
    /*box-shadow: 0 0 10px #585858;*/
}

.header-container, .skills-section,
.experience-section, .education-section,
.footer-container, .portfolio-section,
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 40px;
    overflow: hidden;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.my-logo {
    width: 60px;
    height: 60px;
}

.header-logo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #000000;
    background-image: url("../images/my-logo.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 20px;
}

.header-logo:active {
    box-shadow: inset 0 0 10px #000000;
    background-size: 99%;
}

.header-menu ul{
    list-style: none;
    display: inline-flex;
}

.header-menu li{
    margin-left: 20px;
}

.header-menu a{
    text-decoration: none;
    color: black;
}

.header-menu a:hover{
    text-decoration: underline;
    color: #767676;
}

.header-menu a:active{
    color: #000000;
}

.skills-side, .education-side, .experience-side,
.contact-side {
    text-align: center;
    float: left;
    padding: 20px 0;
}

.skills-logo, .education-logo, .experience-logo,
.contacts-logo {
    width: 100px;
    height: 100px;
}

.skills-main {
    max-width: 500px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-between;
}

.skills-main div {
    width: 200px;
    margin-bottom: 20px;
}

.experience-main {
    max-width: 500px;
    float: right;
    padding: 20px 0;
}

.experience-main div {
    margin-bottom: 20px;
}

.experience-main div:nth-last-child(1) {
    margin-bottom: 0;
}
.education-main {
    max-width: 500px;
    float: right;
    padding: 20px 0;
}

.education-s-1 {
    margin-bottom: 20px;
}

.contact-main {
    max-width: 500px;
    float: right;
    padding: 20px 0;
}

.contact-side p {
    display: block;
    padding: 5px;
    border: 1px solid #959595;
    border-radius: 5px;
    background-color: #cecece;
    box-shadow: inset 0 0 5px #000000;
}

.download-btn {
    text-decoration: none;
    color: black;
}

.contact-side p:active{
    box-shadow: 0 0 10px #000000;
}

.contact-main ul {
    list-style-type: none;
}

.contact-main div {
    width: 500px;
    height: 10px;
}

.my-info-tittle + span {
    display: block;
    padding-left: 100px;
    margin-bottom: 15px;
}

.my-info-tittle {

    display: block;
    float: left;
}

.my-info-data img {
    width: 25px;
}

.iframe-block iframe{
    width: 100%;
    height: 500px;
}




footer {
    clear:both;
}

.footer-container {
    text-align: center;
}

