* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Calibri;
}

.container {
    width: 100%;
}

header {
    border-bottom: 1px solid #969696;
    /*box-shadow: 0 0 10px #585858;*/
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.my-logo {
    width: 60px;
    height: 60px;
}

.header-logo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    background-image: url("../images/my-logo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo:hover {
    box-shadow: 0 0 10px #000000;
}

.header-logo:active {
    box-shadow: inset 0 0 10px #000000;
}

.header-menu ul{
    list-style: none;
    display: inline-flex;
}

.header-menu li{
    margin-left: 20px;
}

.header-menu a{
    text-decoration: none;
    color: black;
}

.header-menu a:hover{
    text-decoration: underline;
    color: #767676;
}

.header-menu a:active{
    color: #000000;
}